.top{
    margin-top: 20px;
    color: white;
}
select{
    width: 36%;
    margin: auto;
}
.top-1{
    margin-top: 20px;
    width: 21%;
    color: white;
}
.main{
    text-align: center;
    margin-top: 40px
}
h1{
    text-align: center;
    color: white;
    margin-bottom: -40px;
}
.robot{
    margin: auto;
    margin-left: 39%;
    margin-top: 14px;
}
body{
    background-color: black;
}
.phone{
    color: white;
}
.you{
    color: white;
}
.enter{
    color: white;
    margin-top: 10px;
}
.second{
    margin-top: 10px;
}
.verify{
    margin-top: 10px;
}
