.male-1{
    margin-left: 5px;
}

.btn-group{
    width: 100%;
}
button{
    width: 100%;
}
.eye-1{
    position: relative;
}
.eye{
    position: absolute;
    top: 0%;
    right: 10px;
}
.image{
    margin-left: 55px;
}
